.idea/
.settings/
target/
.classpath
krux-stdlib.i*
**/bin/*
.project
*.class
krux-stdlib-core/.project
krux-stdlib-cl-parsing/.project
krux-stdlib-netty-web/.project
krux-stdlib-examples/.project
krux-stdlib-stats/.project
krux-stdlib-logging/.project
